/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2017, 12:24:35 PM
    Author     : JMB Websoft
*/
#banner_search
{
    bottom: 230px;
}
#logo_image
{
    max-height: 50px;
}
#slider_image_height
{
    height: 350px;
    width: 100%;
}
.active
{
    color: #38ccff;
}
#about_us_hb
{
    height: 90px;
}
#abt_track_btn a
{
    float:right;
}
.abt-h6
{
    float: left;
    margin: 0px 6px 0px 6px;
}
.abt-fa
{
    padding-right: 3px;
}
.dashboard-info-ractangle-radius {
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    color: #111111;
    float: left;
    height: auto;
    /*margin: 10px;*/
/*    padding: 3px;*/
/*    margin: 8px;
    padding: 30px 30px;*/
    margin: 2px;
    padding: 20px 10px;
    position: relative;
    transition: all 0.3s ease 0s;
    width: auto;
}
@media (min-width:992px) and (max-width:1200px){
    .dashboard-info-ractangle-radius {
        width: 30%;
    height: 60px;
    padding: 15px 15px;
    }
    
}
@media (min-width:768px) and (max-width:991px){
    .dashboard-info-ractangle-radius {
        width: 45%;
    height: 70px;
    padding: 20px 20px;
    }
    
}
@media (min-width:660px) and (max-width:767px){
    .dashboard-info-ractangle-radius {
        width: 45%;
    height: 70px;
    padding: 20px 20px;
    }
    
}
@media (min-width:480px) and (max-width:659px){
    .dashboard-info-ractangle-radius {
        width: 45%;
    height: 90px;
    padding: 10px 10px;
    }
    
}
@media (max-width:479px){
    .dashboard-info-ractangle-radius {
        width: 99%;
    }
    
}
.justify
{
    text-align: justify;
}
.side-image-height
{
    height: 300px;
}
.side-bottom-image-height
{
    height: 250px;
}
/*
.dashboard-list-box-heading {
    margin: 30px 0 7px 0px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}*/
.side-bar-img
{
    padding-right: 10px; 
    padding-left: 10px;
}
.com-trademark-img
{
    margin-bottom: 3px;
}
.home-transparent-bg
{
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.6);
    margin: 30px 0px 50px 0px;
}
.home-transparent-small-bg
{
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.6);
    margin: 30px 30px 30px 23px;
}
.home-small-div
{
    height:370px;
}
.h2tag{
    font-size:15px;
}


